.logo {
  height: 150px;
}

.subtitle {
  font-size: x-large;
  font-style: italic;
  color: coral;
  flex-grow: 1;
}

.featuredHouse {
  background-color: rgb(255, 190, 166);
  border-radius: 2px;
}

/* header.css */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  flex-shrink: 0; /* Prevent the logo from shrinking */
}
a {
  text-decoration: none;
  color: #0074d9;
}
footer {
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
}
